[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/langsci/pkp-lib.git
[submodule "plugins/generic/customBlockManager"]
	path = plugins/generic/customBlockManager
	url = git://github.com/pkp/customBlockManager
[submodule "plugins/generic/staticPages"]
	path = plugins/generic/staticPages
	url = https://github.com/langsci/staticPages.git
[submodule "plugins/generic/translator"]
	path = plugins/generic/translator
	url = git://github.com/pkp/translator
[submodule "plugins/generic/emailLogger"]
	path = plugins/generic/emailLogger
	url = git://github.com/pkp/emailLogger
[submodule "plugins/generic/shariff"]
	path = plugins/generic/shariff
	url = https://github.com/langsci/shariff.git
[submodule "plugins/generic/vgWort"]
	path = plugins/generic/vgWort
	url = https://github.com/langsci/vgWort.git
