
/* make menu item transparent */
.sf-menu ul{
	opacity:.95;
}

/* remove border from register/login */
.pkp_structure_head_siteNav ul.pkp_helpers_align_right {
	border: none;
}

/* icon box for startpage */

	/* define icon box */
	.lsp-icon-box{
		background-color: white;
		width: 25%;
		float:left;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px; 
	}
	
	/* display box on hover*/
	.lsp-icon-box:hover {
		background-color: #eee;
		border-radius: 5px;
	}
	
	/* display image on hover in normal color */
	.lsp-icon-box:hover .lsp-startpage-image{
		opacity: 1.0;
		filter:alpha(opacity=100);
		background-color: #eee;
	}
	
	/* change color of the link on hover */
	.lsp-icon-box:hover .a{
		color: #005678 !important;
	}
	
	/* define image in the box with opacity*/
	.lsp-icon-box-image{
		display: block;
		margin-left: auto;
		margin-right: auto;
		opacity: 0.5;
		filter:alpha(opacity=40);
	}

/* end of icon box */

/* langsci blue header for accordions */

h3.langsci{
    border-bottom: 1px solid #92d2ea;
    display: block;
    font-size: 120%;
    font-weight: bold;
    list-style: outside none none;
    margin-top: 20px;
}

.pkp_catalog_seriesDescription p {
    margin-left: 30px;
}


h3.accordionHeader {
	background-color: #eee !important;
	border-radius: 5px !important;
	padding: 5px;
}

h3.accordionHeader.ui-state-active {
	background-color: #D0ECF6 !important;
	border-radius: 5px !important;
}

.lsp-accordion-icon{
	float:left;
	width:20px;
}

/* end of langsci blue header */

/* kann das weg?*/
.publicationFormatDownload{
	color:white;
	font-size:0pt;
} 

/* kann das weg?*/
.publicationFormatName, .publicationFormatLink{
	color:black;
	font-size:12pt;
}

/* kann das weg?*/
#downloadTab ul li:first-child {
    padding-left: 20px;
}

/* kann das weg?*/
.publicationFormatLinkmod {
    background: none repeat scroll 0 0 #d0ecf6;
    border-radius: 5px;
    display: inline;
    min-width: 90px;
    padding: 3px;
    text-align: center;
    width: 150px;
}
*/

/* kann das weg?*/
#downloadTab ul li:first-child {
    padding-left: 20px;
}

/* kann das weg?*/
.pkp_catalog_book .bookInfo #abstractTab {
  text-align:left;
}

.pkp_catalog_seriesDescription li{
  list-style-type:disc !important;
}

#spotlightsHome h4 { 
    color: black;
    font-size: 125%; 
    padding: 15px; 
    text-align: left; 
    display:none;
}
.pkp_catalog_spotlight {
    border-top: 0px solid #c8c7c7 !important;
}

a{
  text-decoration:none;
}

h2 em{
  font-style:normal !important;
}

.pkp_catalog_monograph_date {
    display: none;
}

.pkp_catalog_carousel_wrapper {
    overflow: visible !important;
}

#featuresCarousel{
  border-bottom: 0px dotted #999999 !important;
  
}


/* von Carola für alle LSP accordeons */

/* don't display triangle */


.accordeonLSP h3 {
	height: 19px; 
	padding:0;
	margin:9px 0px 9px 0px;
	padding-bottom: 20px;
	background-image: none !important;
	background-color: #eee !important;
	border-radius: 8px; 
	color: black;
}

.accordeonLSP h3 span{
	background-image: none !important;
}

.accordeonLSP h3 span {
	display:none;
}

.accordeonLSP h3 a {
	padding: 0 !important;
}

.accordeonLSP h3 a span, .accordeonLSP h3 a img {
	display:inline;
	float:left;
}

.accordeonLSP h3 a span {
	padding: 13px 0px 0px 20px;
	background-image: none !important;
}

.accordeonLSP {
	padding-top: 10px;
}

.accordeonLSP h3 {
	background-image: none !important;
}

.accordeonLSP div.content {
	margin: 0px 0px 15px 65px;
	padding: 0;
}


/* von Carola für support-Seite */

#supportLangSci .accordeonLSP img {
	width: 40px;
	height: 40px;
	opacity: 0.5;
}


/* von Carola für userGuideHypothesis-Seite */

#userGuideHypothesis img.icon{
	width: 35px;
	height: 35px;
		border: 1px solid #fff;
}

#userGuideHypothesis img.content{
	width: 300px;
	display:inline;
	float:left;
	margin-right: 25px;
	padding:0;
	border: 1px solid #999;
}

#userGuideHypothesis h3.header {
	padding:25px 0px 5px 0px;
}

#userGuideHypothesis p.descriptionImage {
	display:block;
	clear:left;
}


/* ENDE */

/* Carola: discs aus Manage -> Catalog entfernen */

.pkp_manageCatalog_monographList li {
	list-style-type:none !important;
}



